{{> header}}

<br>

<center>

    <div class="jumbotron" style="background-color: #B2F6FD;">
        <br>

        <h1>Welcome {{userName}}</h1>

        <h2>
            <p>
                This is a webpage about a store, and you are on the home. What do you want to do?

                <br>

                You can do:

            </p>

            <ul class="list-group" style="width: 80%;">
                <li class="list-group-item">Add a new address and see the ones that have already been added.</li>
                <li class="list-group-item">Add a new store and see the ones that have already been added.</li>
                <li class="list-group-item">Add a new customer and see the ones that have already been added.</li>
                <li class="list-group-item">Be careful, you must follow this order to add records: First Address, Second Store and finally a customer.</li>
            </ul>

        </h2>

        <br>

    </div>

</center>