<br>
<center>
    <h1>{{title}}</h1>
</center>
<div class="jumbotron" style="margin: 50px; background-color: #B2F6FD; align-content: center">
    <br>
    <center>
        <h2>
            <p>Si posee una cuenta inicie sesión, si no realice el registro</p>
        </h2>

        <div>
            <a href="/login" class="btn btn-primary btn-lg btn-block">Login</a>

            <a href="/register" class="btn btn-success btn-lg btn-block">Register</a>
        </div>
    </center>


    <br>
</div>